.searchForm {
    display: flex;
    align-items: center;
    width: 250px;
    margin-right: 0;
    border: 1px solid black;
    padding: 3px 5px;
}

.searchForm input {
    width: 90%;
    box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.6);
}

.searchForm img {
    width: 24px;
    height: 24px;
}