.postImg {
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.post div {
    text-align: justify;
    width: 350px;
    padding-left: 10px;
}

.post a {
    text-decoration: none;
    color: black;
}

.post .like {
    border-radius: 8px;
    background-color: brown;
    margin: 10px 0;
}