.sidebarBottom {
    display: flex;
    justify-content: center;
}

.sidebarBottom img {
    width: 26px;
    height: 26px;
}

.sidebarBottom button {
    display: flex;
    padding: 8px;
    font-size: 20px;
    align-items: center;
    margin-bottom: 20px;
}